<% provide(:title, @user.name) %>
<!DOCTYPE html>
<html>
  <head>
    <title>Myapp | <%= yield(:title) %></title>
  </head>
  <body>
  	<div class="row">
  		<aside class="span4">
  			<section>
			    <h1>
			    <%= gravatar_for @user %>
			    	<%= @user.name %>
			    </h1>
			   </section>
			</aside>
		</div>
  </body>
</html>